/node_modules 
#just use npm install to get dependencies

.env
.env.*
.env.example

# Logs
# Log files are specific to your machine and shouldn't be in version control.
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
# If you have a build step that transpiles code (e.g., TypeScript to JS).
/dist
/buildbackend/uploads
